{% extends "wagtailadmin/pages/page_listing_header.html" %}

{% load wagtailadmin_tags %}
{% load wagtailimages_tags %}

{% load i18n %}

{% block header_content %}
    {{ block.super }}

    <div class="container" style="margin-left: auto; margin-right: 160px;">
        <div style="width: 300px; float: left; margin-right: 15px;">
            <form class="search-form" action="{% url 'wagtailadmin_pages:search' %}" method="get">
                <input type="text" style="font-size: 14px;" placeholder="Search for content  ..." name="q"{% if query_string %} value="{{ query_string }}"{% endif %}>
            </form>
            {% if search_results %}
                <ul>
                    {% for result in search_results %}
                        <li><a href="{{ result.specific.url }}">{{ result.specific }}</a></li>
                    {% endfor %}
                </ul>
            {% endif %}
        </div>

        <div style="float: left;">
            <a class="button bicolor button--icon" style="float:right;" href="{% url 'wagtailadmin_pages:add_subpage' parent_page.id %}">
                {% icon name="plus" wrapped=1 %} {% trans 'Add Content' %}
            </a>
        </div>
    </div>
{% endblock %}
