{% extends "base.html" %}

{% load wagtailcore_tags %}
{% load wagtailcore_tags wagtailimages_tags %}
{% load wagtailvideos_tags %}

{% block page %}{% endblock page %}

{% block body_class %}template-contentitemindexpage{% endblock %}

{% block inner %}
   <div class="content">
    {% if page.hero_image %}
    <div class="img-fluid">
        {% image page.hero_image min-500x200 class="img-fluid" %}

    <img class="img-logo" src="https://mycarehub-test.savannahghi.org/images/UXjAsEtHbOckCNra9hrIg4Chq-k=/10056/original/"/>
    </div>

    <p>{{ page.hero_image.caption }}</p>
    {% endif %}
    <div class="content-body">
        <h1>{{ page.title }}</h1>

        {% with categories=page.categories.all %}
        {% if categories %}
            <p class="publish">Published on {{ page.date }}</p>
        {% endif %}
        {% endwith %}
        {{ page.body|richtext }}
        {% for item in page.gallery_images.all %}
            <div style="float: left; margin: 10px">
                {% image item.image fill-320x240 %}
                <p>{{ item.caption }}</p>
            </div>
        {% endfor %}
    </div>
 </div>
{% endblock inner %}
