{% load static i18n compress%}
{% include "fragments/head.html" %}

<body id="page-top" {% block bodyclass %}{% endblock bodyclass %}>
    {% block inner %}
        {# pages that do not need the wrapper (e.g login) should use this slot and turn off the page block #}
    {% endblock inner %}
    {% block page %}
        <div id="wrapper">
            <div id="content-wrapper" class="d-flex flex-column">
                <div id="content">
                    <div class="container-fluid">
                        {% block content %}
                            <p>This is a blank page (placeholder).</p>
                        {% endblock content %}
                    </div>
                </div>
            </div>

        </div>
        <a class="scroll-to-top rounded" href="#page-top">
            <i class="fas fa-angle-up"></i>
        </a>
    {% endblock page %}
    {% block inline_javascript %}
        {# Script tags with only code, no src (defer by default) #}
    {% endblock inline_javascript %}
</body>
</html>
