@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&family=Sora:wght@500;700&display=swap");
*,
html {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

.content {
  margin: 0;
  padding: 0;
  font-family: "Sora", sans-serif;
  color: #4c4c4c;
}
.content h1 {
  margin-top: 10px;
  font-size: 30px;
  font-weight: bold;
}
.publish {
  font-style: italic;
}
.content p {
  margin-top: 10px;
  font-size: 15px;
}
.img-fluid {
  width: 100%;
  object-fit: cover;
}

.img-logo {
  position: absolute;
  left: 30px;
  top: 30px;
  width: 30%;
}

.content-body {
  margin: auto;
  margin-top: 20px;
  width: 96%;
  max-width: 800px;
}

.meta-data {
  margin-top: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.meta-data .img-author {
  border-radius: 50%;
}

.meta-data .read-time {
  background-color: #4c4c4c;
  padding: 5px;
  border-radius: 6px;
}
.meta-data .read-time p {
  margin: 0;
  color: white;
}
.publish-details {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.publish-details .author-details {
  margin-left: 10px;
}
.author-details h5 {
  font-size: 14px;
  font-weight: bold;
}
.author-details p {
  margin-top: 3px;
  font-size: 13px;
  color: #4c4c4c;
}
@media screen and (max-width: 4320px) {
  .img-fluid {
    height: 600px;
  }
}

@media screen and (max-width: 1280px) {
  .img-fluid {
    height: 400px;
  }
}

@media screen and (max-width: 1080px) {
  .img-fluid {
    height: 300px;
  }
}

@media screen and (max-width: 780px) {
  .img-fluid {
    height: 250px;
  }

  .img-logo {
    width: 50%;

    left: 15px;
    top: 15px;
  }
}

@media screen and (max-width: 480px) {
  .img-fluid {
    height: 160px;
  }
  .meta-data .read-time {
    margin-top: 10px;
    margin-bottom: 10px;
  }
}

.play-btn {
  border: 0;
  background: transparent;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 0;
  height: 30px;
  color: white;
  border-color: transparent transparent transparent white;
  -webkit-transition: 100ms all ease;
  transition: 100ms all ease;
  cursor: pointer;
  border-style: solid;
  border-width: 15px 0 15px 30px;
}

.play-btn.paused {
  border-style: double;
  border-width: 0px 0 0px 30px;
}

.play-btn:hover {
  border-color: transparent transparent transparent white;
}

header {
  width: 100%;
  height: 30vh;
}

header .logo {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  padding: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: start;
  gap: 1rem;
}

header .logo img {
  width: 40px;
}

header .logo h3 {
  font-size: 1.6rem;
  font-family: "Sora", sans-serif;
  color: #f79e25;
}

.card {
  border-radius: 0.5rem;
  background-color: #ffffff;
  margin: 1.5rem auto;
  height: auto;
  border: 1px solid #eee;
}

h4 {
  font-size: 15px;
  font-weight: bold;
  color: #555555;
}

@media (min-width: 768px) {
  h4 {
    font-size: 18px;
  }
}

.author {
  font-size: 11px;
  color: #707070;
}

@media (min-width: 768px) {
  .author {
    font-size: 12px;
  }
}

.details {
  padding: 1rem;
}

.details .meta {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  margin-bottom: 1rem;
}

.details .meta .timestamp > span {
  font-size: 9px;
  color: #707070;
}

.progress-bar {
  width: 100%;
  height: 5px;
  background-color: #c4c4c4;
  margin: 0.5rem auto;
  border-radius: 0.3rem;
}

.progress-bar .progress {
  border-radius: 0.3rem;
  height: 100%;
  background-color: #06103b;
  width: 0%;
  -webkit-transition: width 1s linear;
  transition: width 1s linear;
}

.interactions {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 1.5rem;
}

.interactions .item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 0.5rem;
}

.interactions .item img {
  width: 20px;
  color: #707070;
}

.interactions .item span {
  font-size: 9px;
  color: #707070;
}

.actions {
  position: relative;
}

.actions .content-length {
  position: absolute;
  right: 0;
  top: 0;
  font-size: 11px;
  padding: 0.2rem 0.4rem;
  background-color: #06103b;
  color: white;
  border-radius: 0.3rem;
}

main {
  padding: 0 1rem;
  max-width: 1080px;
  margin: 0 auto;
}

main .photo-gallery {
  width: 100%;
}

main .photo-gallery .gallery {
  width: 100%;
  display: -ms-grid;
  display: grid;
  gap: 0.5rem;
  -ms-grid-columns: (1fr) [2];
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: 300px;
  height: 300px;
  padding: 1rem;
  padding-bottom: 2rem;
}

main .photo-gallery .gallery img {
  -o-object-fit: cover;
  object-fit: cover;
  width: 100%;
  height: 100%;
}

main .photo-gallery .gallery .extra {
  position: relative;
  border-radius: 0.5rem;
}

main .photo-gallery .gallery .extra .extra-image {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: absolute;
  color: white;
  font-weight: bold;
  border-radius: 0.5rem;
  background-color: rgba(0, 0, 0, 0.5);
}

main .video {
  width: 100%;
}

main .video video {
  max-width: 100%;
  border-radius: 0.5rem 0.5rem 0 0;
}

main .audio .banner {
  width: 100%;
}

main .audio img {
  max-width: 100%;
  border-radius: 0.5rem 0.5rem 0 0;
}

main .audio .player {
  padding: 1rem;
}

main .audio .player .actions {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 1rem;
}

main .audio .player .actions .info {
  width: 100%;
}

main .audio .player .actions .info h4 {
  margin-bottom: 0.5rem;
}

main .audio .player .actions .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  width: 100%;
  min-height: 10px;
  gap: 1rem;
}

main .audio .player .actions .content .timestamp {
  font-size: 9px;
  color: #707070;
}

main .audio .player .actions .control {
  background-color: #c4c4c4;
  min-width: 5.5rem;
  min-height: 5.5rem;
  border-radius: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

main .audio .player .actions .control .wrapper {
  height: 4rem;
  width: 4rem;
  border-radius: 50%;
  background-color: #06103b;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

main .document {
  padding: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  gap: 1rem;
}

main .document .wrapper {
  background-color: #c4c4c4;
  min-width: 5.5rem;
  min-height: 5.5rem;
  border-radius: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  position: relative;
}

main .document .wrapper .meta {
  position: absolute;
  right: 8px;
  top: 8px;
  border-radius: 0.3rem;
  padding: 0.2rem 0.25rem;
  color: #ffffff;
  background-color: #06103b;
  font-size: 7px;
  text-transform: uppercase;
  font-weight: bold;
}

main .document .actions {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 1rem;
}

main .document .actions .info {
  width: 100%;
}

main .document .actions .info h4 {
  margin-bottom: 0.5rem;
}

main .document .actions .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  width: 100%;
  min-height: 10px;
  gap: 1rem;
}

main .document .actions .content .timestamp {
  font-size: 9px;
  color: #707070;
}

main .document .tap {
  font-size: 9px;
  color: #707070;
}

/*! PhotoSwipe main CSS by Dmytro Semenov | photoswipe.com */
.pswp {
  --pswp-bg: #000;
  --pswp-placeholder-bg: #222;
  --pswp-root-z-index: 100000;
  --pswp-preloader-color: rgba(79, 79, 79, 0.4);
  --pswp-preloader-color-secondary: rgba(255, 255, 255, 0.9);
  /* defined via js:
    --pswp-transition-duration: 333ms; */
  --pswp-icon-color: #fff;
  --pswp-icon-color-secondary: #4f4f4f;
  --pswp-icon-stroke-color: #4f4f4f;
  --pswp-icon-stroke-width: 2px;
  --pswp-error-text-color: var(--pswp-icon-color);
}

/*
    Styles for basic PhotoSwipe (pswp) functionality (sliding area, open/close transitions)
  */
.pswp {
  position: fixed;
  z-index: var(--pswp-root-z-index);
  display: none;
  -ms-touch-action: none;
  touch-action: none;
  outline: 0;
  opacity: 0.003;
  contain: layout style size;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

/* Prevents focus outline on the root element,
    (it may be focused initially) */
.pswp:focus {
  outline: 0;
}

.pswp * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.pswp img {
  max-width: none;
}

.pswp--open {
  display: block;
}

.pswp,
.pswp__bg {
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  will-change: opacity;
}

.pswp__bg {
  opacity: 0.005;
  background: var(--pswp-bg);
}

.pswp,
.pswp__scroll-wrap {
  overflow: hidden;
}

.pswp,
.pswp__scroll-wrap,
.pswp__bg,
.pswp__container,
.pswp__item,
.pswp__content,
.pswp__img,
.pswp__zoom-wrap {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.pswp {
  position: fixed;
}

.pswp__img,
.pswp__zoom-wrap {
  width: auto;
  height: auto;
}

.pswp--click-to-zoom.pswp--zoom-allowed .pswp__img {
  cursor: -webkit-zoom-in;
  cursor: zoom-in;
}

.pswp--click-to-zoom.pswp--zoomed-in .pswp__img {
  cursor: move;
  cursor: -webkit-grab;
  cursor: grab;
}

.pswp--click-to-zoom.pswp--zoomed-in .pswp__img:active {
  cursor: -webkit-grabbing;
  cursor: grabbing;
}

/* :active to override grabbing cursor */
.pswp--no-mouse-drag.pswp--zoomed-in .pswp__img,
.pswp--no-mouse-drag.pswp--zoomed-in .pswp__img:active,
.pswp__img {
  cursor: -webkit-zoom-out;
  cursor: zoom-out;
}

/* Prevent selection and tap highlights */
.pswp__container,
.pswp__img,
.pswp__button,
.pswp__counter {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.pswp__item {
  /* z-index for fade transition */
  z-index: 1;
  overflow: hidden;
}

.pswp__hidden {
  display: none !important;
}

/* Allow to click through pswp__content element, but not its children */
.pswp__content {
  pointer-events: none;
}

.pswp__content > * {
  pointer-events: auto;
}

/*

    PhotoSwipe UI

  */
/*
    Error message appears when image is not loaded
    (JS option errorMsg controls markup)
  */
.pswp__error-msg-container {
  display: -ms-grid;
  display: grid;
}

.pswp__error-msg {
  margin: auto;
  font-size: 1em;
  line-height: 1;
  color: var(--pswp-error-text-color);
}

/*
  class pswp__hide-on-close is applied to elements that
  should hide (for example fade out) when PhotoSwipe is closed
  and show (for example fade in) when PhotoSwipe is opened
   */
.pswp .pswp__hide-on-close {
  opacity: 0.005;
  will-change: opacity;
  -webkit-transition: opacity var(--pswp-transition-duration)
    cubic-bezier(0.4, 0, 0.22, 1);
  transition: opacity var(--pswp-transition-duration)
    cubic-bezier(0.4, 0, 0.22, 1);
  z-index: 10;
  /* always overlap slide content */
  pointer-events: none;
  /* hidden elements should not be clickable */
}

/* class pswp--ui-visible is added when opening or closing transition starts */
.pswp--ui-visible .pswp__hide-on-close {
  opacity: 1;
  pointer-events: auto;
}

/* <button> styles, including css reset */
.pswp__button {
  position: relative;
  display: block;
  width: 50px;
  height: 60px;
  padding: 0;
  margin: 0;
  overflow: hidden;
  cursor: pointer;
  background: none;
  border: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
  opacity: 0.85;
  -webkit-appearance: none;
  -webkit-touch-callout: none;
}

.pswp__button:hover,
.pswp__button:active,
.pswp__button:focus {
  -webkit-transition: none;
  transition: none;
  padding: 0;
  background: none;
  border: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
  opacity: 1;
}

.pswp__button:disabled {
  opacity: 0.3;
  cursor: auto;
}

.pswp__icn {
  fill: var(--pswp-icon-color);
  color: var(--pswp-icon-color-secondary);
}

.pswp__icn {
  position: absolute;
  top: 14px;
  left: 9px;
  width: 32px;
  height: 32px;
  overflow: hidden;
  pointer-events: none;
}

.pswp__icn-shadow {
  stroke: var(--pswp-icon-stroke-color);
  stroke-width: var(--pswp-icon-stroke-width);
  fill: none;
}

.pswp__icn:focus {
  outline: 0;
}

/*
    div element that matches size of large image,
    large image loads on top of it,
    used when msrc is not provided
  */
div.pswp__img--placeholder,
.pswp__img--with-bg {
  background: var(--pswp-placeholder-bg);
}

.pswp__top-bar {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  z-index: 10;
  /* allow events to pass through top bar itself */
  pointer-events: none !important;
}

.pswp__top-bar > * {
  pointer-events: auto;
  /* this makes transition significantly more smooth,
       even though inner elements are not animated */
  will-change: opacity;
}

/*

    Close button

  */
.pswp__button--close {
  margin-right: 6px;
}

/*

    Arrow buttons

  */
.pswp__button--arrow {
  position: absolute;
  top: 0;
  width: 75px;
  height: 100px;
  top: 50%;
  margin-top: -50px;
}

.pswp__button--arrow:disabled {
  display: none;
  cursor: default;
}

.pswp__button--arrow .pswp__icn {
  top: 50%;
  margin-top: -30px;
  width: 60px;
  height: 60px;
  background: none;
  border-radius: 0;
}

.pswp--one-slide .pswp__button--arrow {
  display: none;
}

/* hide arrows on touch screens */
.pswp--touch .pswp__button--arrow {
  visibility: hidden;
}

/* show arrows only after mouse was used */
.pswp--has_mouse .pswp__button--arrow {
  visibility: visible;
}

.pswp__button--arrow--prev {
  right: auto;
  left: 0px;
}

.pswp__button--arrow--next {
  right: 0px;
}

.pswp__button--arrow--next .pswp__icn {
  left: auto;
  right: 14px;
  /* flip horizontally */
  -webkit-transform: scale(-1, 1);
  transform: scale(-1, 1);
}

/*

    Zoom button

  */
.pswp__button--zoom {
  display: none;
}

.pswp--zoom-allowed .pswp__button--zoom {
  display: block;
}

/* "+" => "-" */
.pswp--zoomed-in .pswp__zoom-icn-bar-v {
  display: none;
}

/*

    Loading indicator

  */
.pswp__preloader {
  position: relative;
  overflow: hidden;
  width: 50px;
  height: 60px;
  margin-right: auto;
}

.pswp__preloader .pswp__icn {
  opacity: 0;
  -webkit-transition: opacity 0.2s linear;
  transition: opacity 0.2s linear;
  -webkit-animation: pswp-clockwise 600ms linear infinite;
  animation: pswp-clockwise 600ms linear infinite;
}

.pswp__preloader--active .pswp__icn {
  opacity: 0.85;
}

@-webkit-keyframes pswp-clockwise {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes pswp-clockwise {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

/*

    "1 of 10" counter

  */
.pswp__counter {
  height: 30px;
  margin: 15px 0 0 20px;
  font-size: 14px;
  line-height: 30px;
  color: var(--pswp-icon-color);
  text-shadow: 1px 1px 3px var(--pswp-icon-color-secondary);
  opacity: 0.85;
}

.pswp--one-slide .pswp__counter {
  display: none;
}
